<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <img src="img/IMG_20200105_215755_170.jpg" alt="">

    </div>
    {{>footer}}
</body>

</html>